.smart-woo-button{padding: 2px 30px !important; font-size: 15px !important; font-weight: bold; letter-spacing: 1px; background:#fd9424 !important; border:0px !important}
.smart-woo-button:hover{background:#444 !important; }
.smart_woo_mainheading{text-transform:uppercase; padding:20px 0px;  font-size:26px; border-bottom:4px solid #f9f9f9; margin-bottom:10px;}
.smart_woo_intropara{margin-bottom:0px;font-size:15px;}
.smart-woo-forms .form-row{margin-bottom:10px}
.smart-woo-forms .form-table th{display:none;}

.smart-woo-forms{background: #e5e5e5;
	padding: 20px;}
.smart-woo-forms tbody{background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
	display: block;}
.smart-woo-forms tr{display:block;} 	
.smart-woo-forms td{display:block;} 		
/**** trust images css ****/

.smart-woo-forms .trust-img{max-width:300px;}

.colf{width: 10%;
    float: left;
    text-align: center;
    margin-top: 38px; }
.coll{width:90%; float:left;display:inline-block;}

.welcome-panel-columns{margin-bottom: 30px;
    float: left;
	width: 100%;}

.mainp{padding: 10px; margin: 10px;}
.first-halfp{width:50%;float:left;}
.second-halfp{text-align:right;width:50%;float:left;}
#csv{padding: 10px 30px;}
.admin-form.welcome-panel input[type="text"],.admin-form.welcome-panel select,.admin-form.welcome-panel textarea{width:100%;margin-bottom: 20px;}  
.admin-form.welcome-panel label{  font-weight: bold;
    margin-top: 20px;}
   .slabels{ margin-bottom: 10px !important;}
   
   .mar p{margin-top: 0 !important;
    margin-bottom: 10px !important;}