.trust-img {
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-top: 0px;
}
.wpl_cls img{margin-top:30px !important;}
.notices{position: fixed;
    top: 0;
    background: #333337;
    width: 100%;
    text-align: center;
}
.notices p {color: #fff;
    line-height: normal;
    margin-bottom: 0;
    padding: 10px 10px;}